// Specific CSS for your home-page
.main-subtitle {
  font-size: 24px;
  color: $purple;
  font-weight: bold;
  text-align: center;
}


.artist-statement {
  margin-top: 57px;
  min-height: 200px;

}


.my-portfolio {
  margin-top: 57px;
  min-height: 200px;
}


.contact {
  margin-top: 57px;
  text-align: center;
  min-height: 200px;

}
