// Specific CSS for your home-page
.main-subtitle {
  font-size: 24px;
  color: $purple;
  font-weight: bold;
  text-align: center;
}


.main-text {
  color: $dark-gray;
  font-size: 16px;
  text-align: center;
}


.index-intro {
  margin-top: 10vh;
  margin-bottom: 15vh;
}


.artist-statement {
  margin-top: 57px;
  min-height: 300px;

}


.about-me {
  height: 50vh;
  display: flex;
  justify-content: space-between;
  align-tems: center;
  margin: 7vh 5vw;
}

.about-me p {
  width: 100%;

}


.about-my-work {
  max-width: 100%;
  background-color: $gray;
  height: 60vh;
  display: flex;
  justify-content: space-between;
  align-tems: center;
  margin: 7vh 0vw;
  padding: 2vh 2vw;
}

.about-my-work img {
  object-fit: cover;
  width: 33%;
  border-radius: 6px;
}

.my-portfolio {
  margin-top: 57px;
  min-height: 200px;
}


.contact {
  margin-top: 57px;
  text-align: center;
  min-height: 200px;

}
