<div class="footer">
  <div class="footer-copyright">
    This footer is artfully made with <i class="fas fa-heart"></i> by invent@ ltd
  </div>

  <div class="footer-links">

    <div><a href="https://www.facebook.com/AliciasPaintings/"><i class="fab fa-facebook-square"></i></a></div>
    <div><a href="https://www.instagram.com/alicia_ngomo/"><i class="fab fa-instagram"></i></a></div>
    <div><%= link_to 'About', root_path, class: "nav-link" %></div>
    <div><%= link_to 'Return policy', returnpolicy_path %></div>
    <div><%= link_to 'Privacy policy', privacy_path %></div>
    <div><%= link_to 'Sitemap', sitemap_path %></div>
  </div>
</div>
