<div class="footer">
  <div class="footer-copyright">
    This footer is artfully made with <i class="fas fa-heart"></i> by invent@ ltd
  </div>

  <div class="footer-links">
    <ul>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li>About</li>
      <li>Return policy</li>
      <li>Privacy policy</li>
    </ul>
  </div>
</div>
