<div class="footer">
  <div class="footer-copyright">
    This footer is artfully made with <i class="fas fa-heart"></i> by invent@ ltd
  </div>

  <div class="footer-links">

    <div><a href="#"><i class="fab fa-github"></i></a></div>
    <div>About</div>
    <div>Return policy</div>
    <div>Privacy policy</div>
    <div>Sitemap</div>
  </div>
</div>
