<h1>Finding inspiration around the world for my art :)</h1>


<p>What inspires me? </p>
<p>Music, music, music, music... 🎶</p>

<p>As I travel around the world on a year long sabbatical I have gathered lots of emotions and experiences that have inspired my latest art.</p>


<!-- Insert gallery of photos form instragram and link to instagram -->
