<div class="main-container">

  <h1 class="main-subtitle">Return policy and return form</h1>
  <hr>

  <p class="main-text"><strong>Instructions on withdrawal</strong></p>

  <p class="main-text"><strong>Right of withdrawal</strong></p>

  <p class="main-text">You have the right to withdraw from this contract within 30 days without giving any reason. The withdrawal period will expire after 30 days from the day on which you acquire, or a third party other than the carrier and indicated by you acquires, physical possession of the goods.
  </p><p class="main-text">To exercise the right of withdrawal, you must inform me (Email: alicia-art@gmail.com) of your decision to withdraw from this contract by an unequivocal statement (e.g. an e-mail). To meet the withdrawal deadline, it is sufficient for you to send your communication concerning your exercise of the right of withdrawal before the withdrawal period has expired.
  </p>

  <p class="main-text"><strong>Effects of withdrawal</strong></p>

  <p class="main-text">If you withdraw from this contract, I shall reimburse to you all payments received from you, including the costs of delivery (with the exception of the supplementary costs resulting from your choice of a type of delivery other than the least expensive type of standard delivery offered by me), without undue delay and in any event not later than 14 days from the day on which I am informed about your decision to withdraw from this contract. I will carry out such reimbursement using the same means of payment as you used for the initial transaction, unless you have expressly agreed otherwise; in any event, you will not incur any fees as a result of such reimbursement. I may withhold reimbursement until I have received the goods back or you have supplied evidence of having sent back the goods, whichever is the earliest.</p>

  <p class="main-text">You shall send back the goods or hand them over to me, without undue delay and in any event not later than 14 days from the day on which you communicate your withdrawal from this contract to me. The deadline is met if you send back the goods before the period of 14 days has expired. You will have to bear the direct cost of returning the goods. Please avoid damage and contamination of the product. If you decide to exercise the withdrawal, send the goods in the original packaging with all packaging components back to me. Use a protective outer packaging. If you do not have the original packaging, please provide a suitable package for adequate protection against damage in transit. You are only liable for any diminished value of the goods resulting from the handling other than what is necessary to establish the nature, characteristics and functioning of the goods.</p>

</div>
