<div class="main-container">
  <h1 class="main-subtitle">Sitemap</h1>
  <hr>

    <ul class="main-text">
      <li>About</li>
      <li>Shop</li>
      <li>Contact</li>
      <li>Inspiration</li>
    </ul>

</div>
