.category-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 4vw;
  margin-right: 5vw;
  margin-left: 5vw;
  // height: 39vh;
  margin-bottom: 10vh;
}

  @media (max-width: 768px) {
    .category-cards {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 400px) {
    .category-cards {
      grid-template-columns: 1fr;
    }
  }


// .category-card {
// display: block;
// border-radius: 5px;
// overflow: hidden;
// background: $light-gray;
// box-shadow: 0 0 15px rgba(0,0,0,0.2);
// // position: relative;
// text-align: center;
// padding: 5vh auto;
// }

// .category-card img {
// height: 50%;
// object-fit: contain;
// height: 25vh;
// margin: 2vh auto;
// }

.category-text {
  // border-radius: 2px;
  background-color: #800080;
  opacity: 0.9;
  height: 8vh;
  width: 100%;
  padding: 2vh;
  display: flex;
  align-items: baseline;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.category-text h3 {
font-size: 1.7em;
font-weight: bolder;
color: $white;
text-align: center;
// margin: auto auto;
}

.category-text h3 i {
font-size: 1.7em;
font-weight: 700;
color: $white;
text-align: center;
// margin: auto auto;
}
