.modal-new {
  display: unset;
}

.modal-body {
  color: $dark-gray;
  font-size: 18px;
}

#submit-btn {
  background-color: $purple;
  border-color:  $purple;
  color: $white;
  font-weight: bolder;
  font-size: 1.2em;
  width: 100%;
  margin-top: 2vh;
}

.submit-btn {
  background-color: $purple;
  border-color:  $purple;
  color: $white;
  font-weight: bolder;
  font-size: 1.2em;
  width: 100%;
  margin-top: 2vh;
}
.close-btn {
  color: $dark-gray;
  background-color: $white;
  font-size: 18px;
}

.close-btn :hover {
  color: $dark-gray;
  background-color: $white;
  font-size: 18px;
}

.grey-title {
  font-size: 1em;
  color: #8B8A8A;
  font-weight: bolder;
}

.painting-order {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 1vw;
  margin-top: 1vh;
  margin-bottom: 1vh;
  justify-items: center;
}

.modal  hr {
  border-color: $medium-purple;
}

.shipping_addressesnew {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("Forever-now-2015.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.ordersnew {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("Forever-now-2015.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.paymentssnew {
  background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("Forever-now-2015.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
